main {
    grid-template-areas:
        "headshot description-of-studies ."
        ". software-quality-assurance rose-hulman-logo"
        ". web-programming ."
        ". computer-architecture ."
        ". experiences kratos-logo"
        ". experiences ventures-logo"
        ". extracurriculars ."
        ". aspirations ."
        ". contact-information .";
}

.aspirations {
    grid-area: aspirations;
}

.computer-architecture {
    grid-area: computer-architecture;
}

.contact-information {
    grid-area: contact-information;
}

.description-of-experiences {
    grid-area: description-of-experiences;
}

.description-of-courses {
    grid-area: description-of-courses;
}

.description-of-studies {
    grid-area: description-of-studies;
}

.experiences {
    grid-area: experiences;
}

.extracurriculars {
    grid-area: extracurriculars;
}

.greeting {
    grid-area: greeting;
}

.headshot {
    height: 300px;
    border-radius: 400px;
    align-self: flex-start;
    grid-area: headshot;
}

.kratos-logo {
    width: 250px;
    border-radius: 20px;
    background-color: white;
    grid-area: kratos-logo;
}

.rose-hulman-logo {
    width: 250px;
    border-radius: 90px;
    grid-area: rose-hulman-logo
}

.software-quality-assurance {
    grid-area: software-quality-assurance;
}

.ventures-logo {
    height: 300px;
    border-radius: 400px;

    grid-area: ventures-logo;
}

.web-programming {
    grid-area: web-programming;
}

@media (max-width: 600px) {
    main {
        grid-template-areas:
            "headshot"
            "description-of-studies"
            "rose-hulman-logo"
            "software-quality-assurance"
            "web-programming"
            "computer-architecture"
            "experiences"
            "kratos-logo"
            "ventures-logo"
            "extracurriculars"
            "aspirations"
            "contact-information";
        justify-items: center;
    }
}
