main>a:active {
    background-color: var(--dark-mode-black);
}

main {
    grid-template-areas:
        "headshot description-of-studies rose-hulman-logo"
        ". experiences kratos-logo"
        ". experiences ventures-logo"
        ". aspirations ."
        ". contact-information .";
}

p>a, li>a {
    color: var(--reddish-brown);
}

p>a:active, li>a:active {
    background-color: var(--dark-mode-black);
}

p>a:hover, li>a:hover {
    color: white;
}

.anchor-with-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aspirations {
    grid-area: aspirations;
}

.contact-information {
    grid-area: contact-information;
}

.description-of-experiences {
    grid-area: description-of-experiences;
}

.description-of-studies {
    grid-area: description-of-studies;
}

.encircled-with-red {
    border: 4px solid var(--reddish-brown);
}

.experiences {
    grid-area: experiences;
}

.greeting {
    grid-area: greeting;
}

.headshot {
    height: 300px;
    border-radius: 400px;
    align-self: flex-start;
    grid-area: headshot;
}

.kratos-logo {
    width: 250px;
    border-radius: 20px;
    background-color: white;
    grid-area: kratos-logo;
}

.rose-hulman-logo {
    width: 250px;
    border-radius: 90px;
    grid-area: rose-hulman-logo
}

.ventures-logo {
    height: 300px;
    border-radius: 400px;

    grid-area: ventures-logo;
}
