main {
    display: grid;
    grid-template-areas: 
        "greeting greeting greeting"
        "headshot description-of-studies rose-hulman-logo"
        "headshot experiences kratos-logo"
        "headshot experiences ventures-logo"
        "aspirations aspirations aspirations";
    grid-template-columns: 1fr 4fr 1fr;
}

ul {
    font-size: larger;
}

ul > li {
    font-size: large;
}

.aspirations {
    grid-area: aspirations;
}

.description-of-experiences {
    grid-area: description-of-experiences;
}

.description-of-studies {
    grid-area: description-of-studies;
}

.experiences {
    grid-area: experiences;
}

.greeting {
    grid-area: greeting;
}

.headshot {
    height: 300px;
    border-radius: 400px;
    border: 4px solid var(--reddish-brown);
    align-self: flex-start;
    
    grid-area: headshot;
}

.kratos-logo {
    width: 250px;
    grid-area: kratos-logo;
}

.rose-hulman-logo {
    width: 250px;
    grid-area: rose-hulman-logo
}

.ventures-logo {
    height: 300px;
    border-radius: 400px;
    border: 4px solid var(--reddish-brown);

    grid-area: ventures-logo;
}
