main {
    grid-template-areas:
        ". introduction ."
        "fizz-logo fizzier-fizz ."
        ". betrayal-at-house-on-the-hill betrayal-at-house-on-the-hill-board-game-cover"
        "risc-v-logo risc-v-assembler .";
}

.betrayal-at-house-on-the-hill {
    grid-area: betrayal-at-house-on-the-hill;
}

.betrayal-at-house-on-the-hill-board-game-cover {
    width: 250px;
    border-radius: 35px;
    grid-area: betrayal-at-house-on-the-hill-board-game-cover;
}

.fizz-logo {
    width: 150px;
    border-radius: 100px;
    grid-area: fizz-logo;
}

.fizzier-fizz {
    grid-area: fizzier-fizz;
}

.introduction {
    grid-area: introduction;
}

.risc-v-assembler {
    grid-area: risc-v-assembler;
}

.risc-v-logo {
    width: 200px;
    border-radius: 65px;
    grid-area: risc-v-logo;
}

@media (max-width: 1400px) {
    main {
        grid-template-areas:
            "introduction ."
            "fizzier-fizz ."
            "fizz-logo ."
            "betrayal-at-house-on-the-hill ."
            "betrayal-at-house-on-the-hill-board-game-cover ."
            "risc-v-assembler ."
            "risc-v-logo .";
    }
}
