main {
    grid-template-areas: 
        ". introduction ."
        "fizz-logo fizzier-fizz ."
        ". betrayal-at-house-on-the-hill ."
        ". risc-v-assembler .";
}

.betrayal-at-house-on-the-hill {
    grid-area: betrayal-at-house-on-the-hill;
}

.fizz-logo {
    grid-area: fizz-logo;
}

.fizzier-fizz {
    grid-area: fizzier-fizz;
}

.introduction {
    grid-area: introduction;
}

.risc-v-assembler {
    grid-area: risc-v-assembler;
}
