h2 {
    margin: 0;
}

h3 {
    margin-bottom: 0;
}

.date-range {
    font-size: large;
    text-decoration: underline;
    margin: 0;
}

.employer-name {
    font-size: larger;
    font-style: italic;
    margin: 0;
}
