h3 {
    margin-bottom: 0;
}

main {
    grid-template-areas:
        "ubuntu-logo programming-languages almalinux-logo"
        "openspace-logo internships eramx-logo"
        ". education .";
}

.almalinux-logo {
    width: 200px;
    border-radius: 70px;
    background-color: white;
    grid-area: almalinux-logo;
}

.date-range {
    font-size: large;
    font-style: italic;
    margin: 0;
}

.download-wrapper {
    display: block;
    text-align: center;
}

.download-wrapper:active {
    background-color: var(--dark-mode-black);
}

.education {
    grid-area: education;
}

.employer-name {
    font-size: large;
    margin: 0;
}

.eramx-logo {
    width: 250px;
    border-radius: 30px;
    background-color: black;
    grid-area: eramx-logo;
}

.internships {
    grid-area: internships;
}

.openspace-logo {
    width: 250px;
    border-radius: 15px;
    background-color: black;
    grid-area: openspace-logo;
}

.programming-languages {
    grid-area: programming-languages;
}

.resume-download {
    color: white;
    font-size: xx-large;
    border-radius: 30px;
    background-color: var(--header-and-footer-background-color);
}

.resume-download:active {
    background-color: black;
}

.resume-download:hover {
    color: var(--reddish-brown);
}

.table-of-languages {
    margin: auto;
    text-align: center;

    width: 80%;
    font-size: xx-large;
    border-collapse: collapse;
}

.ubuntu-logo {
    width: 100px;
    border-radius: 80px;
    grid-area: ubuntu-logo;
}

@media (max-width: 1120px) {
    main {
        grid-template-areas:
            "ubuntu-logo programming-languages"
            "almalinux-logo programming-languages"
            "openspace-logo internships"
            "eramx-logo internships"
            "education education";
    }
}

@media (max-width: 820px) {
    main {
        grid-template-areas:
            "programming-languages"
            "ubuntu-logo"
            "almalinux-logo"
            "internships"
            "openspace-logo"
            "eramx-logo"
            "education";
    }
}
