h2 {
    margin: 0;
}

h3 {
    margin-bottom: 0;
}

td {
    border: 1px solid #ccc;
    font-size: 1.2em;
}


.date-range {
    font-size: large;
    font-style: italic;
    margin: 0;
}

.employer-name {
    font-size: large;
    margin: 0;
}

.languages {
    font-size: larger;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
