:root {
  --header-and-footer-background-color: #707070;
  --reddish-brown: #BB4444;
  --dark-mode-black: #2f2f2f;
}    

 a {
  color: white;
 }
 
 a:active {
   background-color: #656565;
 }

a:hover {
  color: var(--reddish-brown);
}

a:visited {
  color: var(--reddish-brown);
}

body {
  background-color: var(--dark-mode-black);
  margin: 0;

  color: white;
  font-family: 'Roboto', sans-serif;
}  

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  background-color: var(--header-and-footer-background-color);
}

footer > a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size:1.2em;
  text-decoration: none;
  height: 50px;
}

main {
  margin: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}    

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: var(--header-and-footer-background-color);
}    

nav > a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size:1.5em;
  text-decoration: none;
  height: 70px;
}    

p {
  font-size: larger;
}

.emoji {
  margin: 0;
  font-size: xx-large;
}