:root {
  --header-and-footer-background-color: #1f1f1f;
  --reddish-brown: #BB4444;
  --dark-mode-black: #2f2f2f;
}

a {
  color: white;
}

a>i {
  margin: 0 8px 0 0;
}

a:active {
  background-color: black;
}

a:hover {
  color: var(--reddish-brown);
}

body {
  background-color: var(--dark-mode-black);
  margin: 0;

  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

main {
  margin: 0 1rem;
  display: grid;

  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 3fr 1fr;
}

main>a:active {
  background-color: var(--dark-mode-black);
}

nav {
  display: grid;
  grid-template-columns: repeat(3, auto);

  background-color: var(--header-and-footer-background-color);
}

nav>a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  height: 70px;
}

p {
  font-size: larger;
}

p>a,
li>a {
  color: var(--reddish-brown);
}

p>a:active,
li>a:active {
  background-color: var(--dark-mode-black);
}

p>a:hover,
li>a:hover {
  color: white;
}

ul {
  font-size: larger;
}

ul>li {
  font-size: large;
}

.active-tab {
  background-color: var(--reddish-brown);
}

.active-tab:hover {
  color: white;
}

.anchor-with-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.encircled-with-red {
  border: 4px solid var(--reddish-brown);
}

@media (max-width: 1120px) {
  main {
    grid-template-columns: 1fr 3fr;
  }
}

@media (max-width: 600px) {
  header {
    width: max-content;
  }

  main {
    grid-template-columns: auto;
  }

  nav>a {
    font-size: 1.1em;
  }
}
