:root {
  --header-and-footer-background-color: #1f1f1f;
  --reddish-brown: #BB4444;
  --dark-mode-black: #2f2f2f;
}    

a {
  color: white;
}

a > i {
    margin: 0 8px 0 0;
}

a:active {
  background-color: black;
}

a:hover {
  color: var(--reddish-brown);
}

body {
  background-color: var(--dark-mode-black);
  margin: 0;

  color: white;
  font-family: 'Roboto', sans-serif;
}  

/* footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  background-color: var(--header-and-footer-background-color);
} */

main {
  margin: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}    

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: var(--header-and-footer-background-color);
}    

nav > a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size:1.5em;
  font-weight: bold;
  text-decoration: none;
  height: 70px;
}    

p {
  font-size: larger;
}

.emoji {
  margin: 0;
  font-size: xx-large;
}
