img {
  width: 300px;
  
  border: 4px solid darkgray;
  border-radius: 10px;
}

body {
  background-color: lightgray;
  
  font: "Helvetica, Arial, Georgia, Times New Roman";
  text-align: center;
}

