:root {
  --reddish-brown: #BB4444;
  --left-padding-spacing: 5px;

  --h3-and-job-position-left-border: 10px solid yellow;
  --h3-and-job-position-padding: 0px 5px;
}

img {
  width: 300px;
  
  border: 4px solid var(--reddish-brown);
  border-radius: 100px;
}

body {
  background-color: lightgray;
}

h1 {
  border-left: 10px solid var(--reddish-brown);
  padding-left: var(--left-padding-spacing);
}

h2 {
  border-left: 4px solid darkgray;
  padding-left: var(--left-padding-spacing);
  margin-bottom: 0px;
}

h3 {
  border-left: var(--h3-and-job-position-left-border);
  padding: var(--h3-and-job-position-padding);
  margin: 0px;
}

ol {
  list-style-type: none;
  padding-left: 20px; 
}

a:hover {
  color: red;
}

a:active {
  background-color: yellow;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-grid-boxes {
  display: grid;
  grid-template-columns: 7fr 2fr;
}

.job-position {
  border-left: var(--h3-and-job-position-left-border);
  padding: var(--h3-and-job-position-padding);
}

.hide-list-style {
  list-style-type: none;
}

.last-list-item {
  margin-bottom: 10px;
}

.indent {
  text-indent: 2em;
}

