img {
  width: 300px;
}

body {
  background-color: lightblue;
  
  font: "Helvetica, Arial, Georgia, Times New Roman";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font: "Playfair Display";
}
